
<h1>店铺更新</h1>

<div class="ui form segment">
  <div class="ui error message">
      <div class="header">发生了错误</div>
  </div>

  <div class="span6 offset3">
    <%= form_for(@store) do |f| %>

      <%= f.label :store_name %>
      <%= f.text_field :store_name %>

      <%= f.label :store_phone %>
      <%= f.text_field :store_phone%>

      <%= f.label :store_info_1 %>
      <%= f.text_field :store_info_1 %>

      <%= f.label :store_info_2 %>
      <%= f.text_field :store_info_2%>

      <%= f.label :store_column_1 %>
      <%= f.text_field :store_column_1%>

      <%= f.label :store_column_2 %>
      <%= f.text_field :store_column_2%>

      <%= f.label :store_column_3 %>
      <%= f.text_field :store_column_3%>

      <%= f.submit "更新店铺" %>

<% end %>
  </div>
</div>





